@import "../../scss/Mixin.scss";
@import "../../scss/Variables.scss";
@import "../../scss/Resets.scss";

.slider {
  .test {
    display: flex;
    align-items: center;
  }

  .slider__img {
    width: 90%;
    height: 10%;
    outline: none
  }

  .dot {
    color: white;
  }
}